<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Tatcha Challenge</title>
  <link rel="stylesheet" href="css/styles.css">

  <!-- dependencies -->
  <script src="lib/jquery.js"></script>
  <script src="scripts/app.js"></script>
</head>
<body>
<script>
  $(app.init.bind(app));
</script>

<h1>Tatcha Challenge</h1>
<div class="spinner"><img src="images/spinner.gif"></div>
<button id="getAlbumByUserId">Get Album</button>
<br />
<h3>Current Albums:</h3>
<ul id="currentAlbums"></ul>

<h3>Current Album:</h3>
<ul id="currentAlbum"></ul>
</body>
</html>
